---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogList from "../../components/ReactCompoent/blogPosts/BlogPost";
const title = "Cinematic Experience | Blog";
const description = "Latest articles.";
const permalink = `${Astro.site.href}blog`;

const allPosts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.publishDate).valueOf() -
    new Date(a.data.publishDate).valueOf()
);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <div class="container">
    <BlogList posts={allPosts} />
  </div>
</BaseLayout>
