---
import SearchBlog from "../components/ReactCompoent/search/search";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).map((post) => ({
  title: post.data.title,
  description: post.data.description,
  publishDate: post.data.publishDate,
  readingTime: post.data.readingTime,
  slug: post.slug,
  tags: post.data.tags,
  heroimage: post.data.heroimage,
  draft: post.data.draft,
}));
const title = "Cinematic Experience | Search Blog";
const description = "Search articles.";
const permalink = `${Astro.site.href}blog`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="search"
>
  <main>
    <div class="search-wrapper">
      <h1>Search Articles</h1>
      <div class="search-container">
        <SearchBlog client:only="react" posts={posts} />
      </div>
    </div>
  </main>
</BaseLayout>
